<!-- 
    Global HTML Code for the Entire BugReporter Application
    Author: Nikos Lardas
    Created: 05.2022
-->

<!-- Website Header with onClick redirection to the home page of the application-->
<div id="navbar">
  <nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid justify-content-center">
      <a class="navbar-brand fs-1" routerLink="/">
        <img src="assets/Logo.png" alt="" width="50" height="50" class="d-inline-block align-text-top">
        Welcome to BugReporter
      </a>
    </div>
  </nav>
</div>
<br>
<!-- End of Website Header-->

<!-- Page Content: Depending on the route the corresponding component loads here -->
<router-outlet></router-outlet>

<!-- Application Footer with Social media icons and links -->
<div id="footer" style="margin-top: 200px;">
  <footer class="text-center text-white fixed-bottom" style="background-color: #f1f1f1;">

  <!-- Grid container -->
  <div class="container pt-1" >

    <!-- Section: Social media -->
    <section class="mb-1">

      <!-- Facebook -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://www.google.com/search?q=Bug+Reporter+Facebook"
        >
        <img class="footer-icon" src="assets/Footer-Facebook.png" alt="FB">
      </a>

      <!-- Twitter -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://www.google.com/search?q=Bug+Reporter+Twitter"
        >
        <img class="footer-icon" src="assets/Footer-Twitter.png" alt="Twitter">
      </a>

      <!-- Instagram -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://www.google.com/search?q=Bug+Reporter+Instagram"
        >
        <img class="footer-icon" src="assets/Footer-Instagram.png" alt="IG">
      </a>

      <!-- Linkedin -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://www.google.com/search?q=Bug+Reporter+LinkedIn"
        >
        <img class="footer-icon" src="assets/Footer-LinkedIn.png" alt="LinkedIn">
      </a>

      <!-- GitHub -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://www.google.com/search?q=Bug+Reporter+GitHub"
        >
        <img class="footer-icon" src="assets/Footer-GitHub.png" alt="GitHub">
      </a>
    </section>
    <!-- End of Section: Social media -->
  </div>
  <!-- End of Grid container -->

  <!-- Copyright -->
  <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    Created by BugReporter © 2022
  </div>
  <!-- Copyright -->

  </footer>
</div>